@page "/admin/cham-soc-muc-vu/{id?}"

@layout AdminLayout
@using CharityClinic.Services;
@using CharityClinic.Data.Model;
@using System.Web.Helpers;
@inject IBaseService<ChamSoc> ChamSocService
@inject IJSRuntime JS
@inject ILogger<ChamSocMucVuAdmin> Logger
@inject IHostEnvironment Environment

@if (!string.IsNullOrEmpty(message))
{
    <div class="col-12" style="color: limegreen;">
        @message
    </div>
}else{
@if (string.IsNullOrEmpty(id))
{
    <h3>Create Chăm sóc mục vụ</h3>
}
else
{
    <h3>Update Chăm sóc mục vụ</h3>
    
}
@*<EditForm Model="ChamSoc" OnValidSubmit="CreateNews">*@
<form action="javascript:void(0);">
    @if (ChamSoc.Content == "")
    {
        <div class="col-12" style="color: red;">
            The Content field is required.
        </div>
    }
    @if (ChamSoc.Title == "")
    {
        <div class="col-12" style="color: red;">
            The Tiltle field is required.
        </div>
    }
    @if (imagePath == "")
    {
        <div class="col-12" style="color: red;">
            The Image field is required.
        </div>
    }
    <div class="form-group">
        <label>Title</label>
        <input @bind="ChamSoc.Title" class="form-control" />
        <label>Image</label>
        @*<input accept="image/*" type='file' id="file-input" />*@

        @if (errorMaxSize)
        {
            <div class="col-12" style="color: red;">
                The Image too large.
            </div>
        }
        <InputFile OnChange="@LoadFiles" id="file-input" accept="image/*" class="form-control" />
        <div class="result">
            <img id="img-preview" src="@imagePath" alt="image" style="height: 200px;" />
        </div>
        <label>Content</label>
        <textarea id="Content" @bind="ChamSoc.Content" class="form-control" />
        <span asp-validation-for="Content"></span>
    </div>

        @if(string.IsNullOrEmpty(id))
        {
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="CreateNews" disabled="@IsDisabled">
                @if (IsDisabled)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
                    Create
            </button>
        }
        else
        {
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="CreateNews" disabled="@IsDisabled">
                @if (IsDisabled)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
                Update
            </button>
        }
    </form>}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (IsDisabled)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
                else
                {
                    @if (successCreate > 0 && string.IsNullOrEmpty(id))
                    {
                        <div class="col-12" style="color: limegreen;">
                            Tạo chăm sóc mục vụ thành công.
                        </div>
                    }
                    else if (successCreate > 0 && !string.IsNullOrEmpty(id))
                    {
                        <div class="col-12" style="color: limegreen;">
                            Update chăm sóc mục vụ thành công.
                        </div>
                    }
                    else
                    {
                        <div class="col-12" style="color: red;">
                            Update or Create chăm sóc mục vụ không thành công.
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*</EditForm>*@
@code {
    [Parameter]
    public string? id { get; set; }
    private ChamSoc ChamSoc = new();
    private int successCreate = 0;
    private string message = "";
    public bool IsDisabled { get; set; }
    private string imagePath = null;
    protected async override void OnInitialized()
    {
        try
        {
            await JS.InvokeVoidAsync("import", "./js/admin/tinymce.min.js");
            if (!string.IsNullOrEmpty(id))
            {
                var path = Path.Combine("ChamSocContent", id);
                await JS.InvokeVoidAsync("init", path);

            }
            else
            {
                var ChamSoc = (await ChamSocService.GetAll());
                var nextId = 1;
                if (ChamSoc.Count() > 0)
                    nextId = ChamSoc.OrderByDescending(d => d.Id).FirstOrDefault().Id + 1;
                var path = Path.Combine("ChamSocContent", nextId.ToString());
                await JS.InvokeVoidAsync("init", path);

            }
            await JS.InvokeVoidAsync("LoadImage");
            if (!string.IsNullOrEmpty(id))
            {
                ChamSoc = await ChamSocService.Get(id);
                if(ChamSoc != null)
                {
                    imagePath = ChamSoc.PathImg;
                    if (!string.IsNullOrEmpty(ChamSoc.Content))
                        await JS.InvokeAsync<string>("setContent", ChamSoc.Content);
                }
                else
                {
                    message = "Id không tồn tại";
                }
                StateHasChanged();
            }
        }
        catch
        {

        }
    }
    private async Task CreateNews()
    {
        try
        {
            IsDisabled = true;
            ChamSoc.Id = 0;
            ChamSoc.Content = await JS.InvokeAsync<string>("getContent", null);
            ChamSoc.PathImg = imagePath;
            if (string.IsNullOrEmpty(ChamSoc.Title))
            {
                ChamSoc.Title = "";
            }
            if (string.IsNullOrEmpty(imagePath))
            {
                imagePath = "";
            }

            if (!string.IsNullOrEmpty(ChamSoc.Content) && !string.IsNullOrEmpty(ChamSoc.Title) && !string.IsNullOrEmpty(imagePath))
            {
                if (string.IsNullOrEmpty(id))
                {
                    ChamSoc.TimeCreate = DateTime.Now;
                    successCreate = await ChamSocService.Create(ChamSoc);
                }
                else
                {
                    ChamSoc.Id = int.Parse(id);
                    successCreate = await ChamSocService.Update(ChamSoc);
                }
            }
            IsDisabled = false;
            StateHasChanged();
        }
        catch(Exception e)
        {

        }
    }
    private List<IBrowserFile> loadedFiles = new();
    private int maxAllowedFiles = 1;
    private long maxFileSize = 10 * 1024 * 1024;
    private bool errorMaxSize = false;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        errorMaxSize = false;
        loadedFiles.Clear();
        try
        {
            foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
            {
                var trustedFileNameForFileStorage = Path.GetRandomFileName();
                var path = Path.Combine(Environment.ContentRootPath, "wwwroot", "ChamSoc");
                if (!Directory.Exists(path))
                {
                    Directory.CreateDirectory(path);
                }
                try
                {
                    if (!string.IsNullOrEmpty(id))
                    {
                        if (File.Exists(Path.Combine(path, id + ".jpg")))
                        {
                            File.Delete(Path.Combine(path, id + ".jpg"));
                        }
                        await using FileStream fs = new(Path.Combine(path, id + ".jpg"), FileMode.Create);
                        imagePath = Path.Combine("ChamSoc", id + ".jpg");
                        await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                        loadedFiles.Add(file);
                        fs.Close();
                    }
                    else
                    {
                        var ChamSoc = (await ChamSocService.GetAll());
                        var nextId = 1;
                        if(ChamSoc.Count() > 0)
                            nextId = ChamSoc.OrderByDescending(d => d.Id).FirstOrDefault().Id + 1;
                        if (File.Exists(Path.Combine(path, nextId + ".jpg")))
                        {
                            File.Delete(Path.Combine(path, nextId + ".jpg"));
                        }
                        await using FileStream fs = new(Path.Combine(path, nextId + ".jpg"), FileMode.Create);
                        imagePath = Path.Combine("ChamSoc", nextId + ".jpg");
                        await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                        loadedFiles.Add(file);
                        fs.Close();
                    }

                }
                catch (Exception ex)
                {
                    errorMaxSize = true;
                    imagePath = "";
                    Logger.LogError("File: {Filename} Error: {Error}",
                        file.Name, ex.Message);
                    StateHasChanged();
                }
            }
        }
        catch (Exception ex)
        {

            throw;
        }

    }
}