@page "/Admin/NewsList"
@using CharityClinic.Data.Model;
@using CharityClinic.Services;
@using CharityClinic.Shared;
@layout AdminLayout
@inject IBaseService<NewsDb> newsService;
@inject IJSRuntime JS
@inject IHostEnvironment Environment

<h3>NewsList</h3>

<a class="btn" href="javascript:void(0)" @onclick=@(e => WinLoad("/admin/ban-tin/"))>Create</a>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Image</th>
            <th>TimeCreate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in news)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Tiltle</td>
            <td><img src="@item.PathImg" alt="image" style="height: 80px;" /></td>
            <td>@item.TimeCreate</td>
            <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick=@(e => ChangeId(item.Id))>
                    <i class="fa fa-trash"></i>
                </button>
                <a class="btn" href="javascript:void(0)" @onclick=@(e => WinLoad("/admin/ban-tin/" + item.Id))><i class="fa fa-pencil-square"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
@*
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @onclick="DeleteNews">Delete</button>
            </div>
        </div>
    </div>
</div>*@
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                @if (!content)
                {
                    <div class="modal-body">
                        Bạn có muốn xoá?
                    </div>
                }
                else
                {
                    <div class="modal-body">
                        Xoá thành công
                    </div>
                }
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
                @if (!content)
                {
                    <button type="button" class="btn btn-primary" @onclick="DeleteNews">Delete</button>
                }
            </div>
        </div>
    </div>
</div>



@code {
    public List<NewsDb> news = new List<NewsDb>();
    protected int id;
    protected bool content = false;
    protected async override void OnInitialized()
    {
        try
        {
            news = (await newsService.GetAll()).ToList();
            StateHasChanged();
            await JS.InvokeVoidAsync("DataTable");
        }
        catch
        {

        }
    }
    private async Task DeleteNews()
    {
        try
        {
            var path = Path.Combine(Environment.ContentRootPath, "wwwroot", "BanTin", id.ToString() + ".jpg");
            if (File.Exists(path))
            {
                File.Delete(path);
            }
            var pathContent = Path.Combine(Environment.ContentRootPath, "wwwroot", "NewsContent", id.ToString());
            if (Directory.Exists(pathContent))
            {
                Directory.Delete(pathContent, true);
            }
            var result = await newsService.Delete(id);
            news = (await newsService.GetAll()).ToList();
            if (result > 0)
            {
                content = true;
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            
            throw;
        }
    }

    private async Task ChangeId(int Id)
    {
        content = false;
        id = Id;
        StateHasChanged();
    }
    private async void WinLoad(string url)
    {
        await JS.InvokeVoidAsync("WinLoad", url);
    }
}
