@page "/Login"
@using Blazored.LocalStorage;
@using CharityClinic.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@layout EmptyLayout
@inject ILocalStorageService _localStorageService

<div class="row justify-content-center auth-wrapper">
    <div class="col-12 col-md-5 col-lg-4 bg-white box-shadow p-25">
        <div class="text-center">
            <div class="navbar-brand">
                <img src="images/logo.png" class="img-fluid">
            </div>
            <h1 class="fw-400">Đăng Nhập</h1>
            @*<p class="text-muted mb-0">Đăng nhập vào tài khoản của bạn để tiếp tục.</p>*@
        </div>
        <EditForm Model="loginViewModel" OnValidSubmit="HandleLogin" class="row g-3">
            <DataAnnotationsValidator />
            <div class="col-12">
                <ValidationSummary />
            </div>
            @if (ShowErrors)
            {
                <div class="col-12">
                    <div class="alert alert-danger mb-0" role="alert">
                        @foreach (var error in Errors ?? Enumerable.Empty<string>())
                        {
                            <p class="mb-0 fs-14">@error</p>
                        }
                    </div>
                </div>
            }
            <div class="col-12">
                <label for="email" class="form-label d-block">Tài Khoản</label>
                <InputText id="email" @bind-Value="loginViewModel.UserId" class="form-control" />
            </div>
            <div class="col-12">
                <label for="password" class="form-label d-block">Mật Khẩu</label>
                <InputText id="password" type="password" @bind-Value="loginViewModel.Password" class="form-control" />
            </div>
            <div class="col-12 mt-1">
                <NavLink href="ForgotPassword" class="text-muted fs-14">
                    Quên mật khẩu?
                </NavLink>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary fs-14 fw-500 py-2 w-100" disabled="@IsDisabled">
                    @if (IsDisabled)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    Đăng Nhập
                </button>
            </div>
            <div class="col-12">
                <p class="text-muted fs-14 mb-2">
                    Chưa có tài khoản?
                    <NavLink href="Register" class="text-primary fw-500">
                        Đăng Ký?
                    </NavLink>
                </p>
            </div>
        </EditForm>
    </div>
</div>


@code {
    private LoginViewModel loginViewModel = new();
    private bool ShowErrors;
    public bool IsDisabled { get; set; }

    private IEnumerable<string>? Errors;

    protected async override void OnInitialized()
    {
        try
        {
            var UserId = await _localStorageService.GetItemAsync<string>("UserId");
            if (!string.IsNullOrEmpty(UserId))
            {
                NavigationManager.NavigateTo("/Admin");
            }
        }
        catch
        {

        }
    }
    private async Task HandleLogin()
    {

        ShowErrors = false;
        IsDisabled = true;

        var result = await AuthService.Login(loginViewModel);
        if (result.Succeeded)
        {
            NavigationManager.NavigateTo("/Admin");
        }
        else
        {
            Errors = result?.Errors;
            ShowErrors = true;
        }
        IsDisabled = false;
    }

}