<section id="sp-bottom-wrapper" class=" ">
   <div class="container">
      <div class="row-fluid fadeInDown animated" id="bottom" style="visibility: visible;">
         <div id="sp-bottom1" class="span4">
            <div class="module ">
               <div class="mod-wrapper-flat clearfix">
                  <h2 class="world-title">
                     <span><span class="color">Liên hệ</span> Phòng khám					<span></span></span>
                  </h2>
                  <div class="custom">
                     <h3><span style="font-family: tahoma, arial, helvetica, sans-serif;">PHÒNG KHÁM TỪ THIỆN KIM LONG</span></h3>
                     <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><img src="/images/icons/diachi.png" alt="">&nbsp;Khu Quy Hoạch Kim Long - Đường Nguyễn Hoàng - Phường Kim Long - Tp Huế&nbsp;- Việt Nam.</span></p>
                     <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><img src="/images/icons/dienthoai.png" alt="">&nbsp;(+84) 234 3522084</span></p>
                     <p>
                        <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
                        <img src="/images/icons/email.png" alt="">&nbsp;&nbsp;<span id="cloak297364c47040e39d255c94c61692a0c2"><a href="mailto:pkttkl@gmail.com">pkttkl@gmail.com</a></span>
                        </span>
                     </p>
                     <hr>
                     <h3><span style="margin-bottom: 5px; font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">DÒNG CON ĐỨC MẸ VÔ NHIỄM</span></h3>
                     <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><img src="/images/icons/diachi.png" alt=""> 32 Kim Long - Tp Huế - Việt Nam.</span></p>
                     <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><img src="/images/icons/dienthoai.png" alt=""> &nbsp;(+84) 234 352 8484</span></p>
                     <p>
                        <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
                        <img src="/images/icons/email.png" alt="">&nbsp; <span id="cloak4ec6aa62082494e3db6d3a997b5de53d"><a href="mailto:btrthfmi@gmail.com">btrthfmi@gmail.com</a></span>
                        </span>
                     </p>
                     <p>
                        <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">
                        <img src="/images/icons/website.png" alt="">&nbsp;&nbsp;<a title="Dòng Con Đức Mẹ Vô Nhiễm" href="https://conducmevonhiem.org">conducmevonhiem.org</a>
                        </span>
                     </p>
                  </div>
               </div>
            </div>
            <div class="gap"></div>
         </div>
         <div id="sp-bottom2" class="span4">
            <div class="module ">
               <div class="mod-wrapper-flat clearfix">
                  <h2 class="world-title">
                     <span>
                     <span class="color">Vị trí</span> Phòng khám					<span>
                     </span>
                     </span>
                  </h2>
                  <div class="custom">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1709.943780161534!2d107.55543005616818!3d16.466056696482656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3141a7cbdb5ab699%3A0xc5bf6ec06fbb75b9!2zUGjDsm5nIGtow6FtIEtpbSBMb25nLCBLaeG7h3QsIDEzOCBQaOG6oW0gVGjhu4sgTGnDqm4sIEtpbSBMb25nLCBUaMOgbmggcGjhu5EgSHXhur8sIFRo4burYSBUaGnDqm4gSHXhur8sIFZp4buHdCBOYW0!3m2!1d16.4652405!2d107.5561611!5e1!3m2!1svi!2s!4v1661687621630!5m2!1svi!2s" width="500" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
               </div>
            </div>
            <div class="gap"></div>
         </div>
         <div id="sp-bottom3" class="span4">
            <div class="module ">
               <div class="mod-wrapper-flat clearfix">
                  <h2 class="world-title">
                     <span>
                     <span class="color">Facebook</span> Phòng khám					<span>
                     </span>
                     </span>
                  </h2>
                  <div class="custom">
                     <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/profile.php?id=100066344720760" data-tabs="timeline" data-width="500" data-height="380" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=354&amp;height=380&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100066344720760&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=500"><span style="vertical-align: bottom; width: 354px; height: 380px;">
                        <iframe name="f3230653f455e48" width="500px" height="380px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v14.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df374265536a4298%26domain%3Dwww.kimlongcharityclinic.org%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Fwww.kimlongcharityclinic.org%252Ff1ad0b98c33a87%26relation%3Dparent.parent&amp;container_width=354&amp;height=380&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100066344720760&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=500" style="border: none; visibility: visible; width: 354px; height: 380px;" class="">
                        </iframe></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="gap"></div>
         </div>
      </div>
   </div>
</section>

<footer id="sp-footer-wrapper" class=" ">
   <div class="container">
      <div class="row-fluid fadeInDown animated" id="footer" style="visibility: visible;">
         <div id="sp-footer1" class="span8">
            <span class="copyright">Copyright © 2023 kimlongcharityclinic.org</span>
            <div style="height:1px; overflow: hidden;"><a href="http://vinagecko.com/joomla-templates" title="Free Joomla! 3 Templates">Joomla! 3 Templates</a></div>
         </div>
         <div id="sp-footer2" class="span4">
            <ul class="nav ">
                <li class="item-259"><a href="/gioi-thieu/ve-chung-toi">Về chúng tôi</a></li>
                <li class="item-260"><a href="/gioi-thieu/lia-n-ha">Liên hệ</a></li>
            </ul>
            <a class="sp-totop" href="javascript:;" title="Goto Top" rel="nofollow"><small>Goto Top </small><i class="icon-caret-up"></i></a>
         </div>
      </div>
   </div>
</footer>
@code {

}
