
<div class="container">
	<div class="row-fluid fadeInDown animated" id="header" style="visibility: visible;">
		<div id="sp-logo" class="span4"><div class="logo-wrapper"><a href="/"><div style="width:300px; height:40px;" class="logo"></div></a></div></div>

		<div id="sp-menu" class="span8">


			<div id="sp-main-menu" class="visible-desktop">
				<ul class="sp-menu level-0">
					<li class="menu-item first">
						<a href="/" class="menu-item first"><span class="menu"><span class="menu-title">Trang Chủ</span></span></a>
					</li>
					<li class="menu-item parent ">
						<a href="#" class="menu-item active parent "><span class="menu"><span class="menu-title">Giới Thiệu</span></span></a>
						<div class="sp-submenu sub-level" style="top: 54px; left: 0px;">
							<div class="sp-submenu-wrap" style="margin-top: 0px; margin-left: 0px;">
								<div class="sp-submenu-inner clearfix" style="width: 200px;">
									<div class="megacol col1 first" style="width: 200px;">
										<ul class="sp-menu level-1">
											<li class="menu-item first">
												<a href="/gioi-thieu/ve-chung-toi" class="menu-item first"><span class="menu"><span class="menu-title">Về chúng tôi</span></span></a>
											</li>
											<li class="menu-item">
												<a href="/gioi-thieu/lich-su" class="menu-item active"><span class="menu"><span class="menu-title">Lịch sử</span></span></a>
											</li>
											<li class="menu-item">
												<a href="#" class="menu-item"><span class="menu"><span class="menu-title">Tầm nhìn</span></span></a>
											</li>
											<li class="menu-item">
												<a href="/gioi-thieu/su-mang" class="menu-item"><span class="menu"><span class="menu-title">Sứ mạng</span></span></a>
											</li>
											<li class="menu-item last">
												<a href="/gioi-thieu/lia-n-ha" class="menu-item last"><span class="menu"><span class="menu-title">Liên hệ</span></span></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="menu-item parent "><a href="#" class="menu-item parent "><span class="menu"><span class="menu-title">Sứ Vụ</span></span></a>
						<div class="sp-submenu sub-level" style="top: 54px; left: -57.8125px;">
							<div class="sp-submenu-wrap" style="margin-top: 0px; margin-left: 0px;">
								<div class="sp-submenu-inner clearfix" style="width: 500px;">
									<div class="megacol col1 first" style="width: 250px;">
										<ul class="sp-menu level-1">
											<li class="menu-item first sp-menu-group">
												<div class="sp-menu-group">
													<div class="sp-menu-group-title">
														<a href="#" class="menu-item first sp-menu-group"><span class="menu"><span class="menu-title">Y tế</span></span></a>
													</div>
													<div class="sp-menu-group-content">
														<ul class="sp-menu level-1">
															<li class="menu-item first">
																<a href="/su-vu/y-te/kham-chua-benh" class="menu-item first"><span class="menu"><span class="menu-title">Khám chữa bệnh</span></span></a>
															</li>
															<li class="menu-item last">
																<a href="/su-vu/y-te/suc-khoe-cong-dong" class="menu-item last"><span class="menu"><span class="menu-title">Sức khoẻ cộng đồng</span></span></a>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</div>
										<div class="megacol col2 last" style="width: 250px;">
											<ul class="sp-menu level-1">
												<li class="menu-item first sp-menu-group">
													<div class="sp-menu-group">
														<div class="sp-menu-group-title">
															<a href="#" class="menu-item first sp-menu-group"><span class="menu"><span class="menu-title">Hổ trợ cộng đồng</span></span></a>
														</div>
														<div class="sp-menu-group-content">
															<ul class="sp-menu level-1">
																<li class="menu-item first">
																	<a href="/su-vu/ho-tro-cong-dong/cham-soc-muc-vu" class="menu-item first"><span class="menu"><span class="menu-title">Chăm sóc mục vụ</span></span></a>
																</li>
																<li class="menu-item last">
																<a href="/su-vu/ho-tro-cong-dong/nguoi-ben-le" class="menu-item last"><span class="menu"><span class="menu-title">Người bên lề</span></span></a>
																</li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu-item parent ">
							<a href="#" class="menu-item parent "><span class="menu"><span class="menu-title">Bản tin</span></span></a>
							<div class="sp-submenu sub-level" style="top: 54px; left: 0px;">
								<div class="sp-submenu-wrap" style="margin-top: 0px; margin-left: 0px;">
									<div class="sp-submenu-inner clearfix" style="width: 200px;">
										<div class="megacol col1 first" style="width: 200px;">
											<ul class="sp-menu level-1">
												<li class="menu-item first">
													<a href="/ban-tin/tin-phong-kham/page/1" class="menu-item first"><span class="menu"><span class="menu-title">Tin Phòng Khám</span></span></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu-item parent ">
							<a href="#" class="menu-item parent "><span class="menu"><span class="menu-title">Thư Viện</span></span></a>
							<div class="sp-submenu sub-level" style="top: 54px; left: 0px;">
								<div class="sp-submenu-wrap" style="margin-top: 0px; margin-left: 0px;">
									<div class="sp-submenu-inner clearfix" style="width: 200px;">
										<div class="megacol col1 first" style="width: 200px;">
										<ul class="sp-menu level-1">
											<li class="menu-item first">
												<a href="/thu-vien/hinh-anh" class="menu-item first"><span class="menu"><span class="menu-title">Hình ảnh</span></span></a></li>
												<li class="menu-item last">
													<a href="/thu-vien/video" class="menu-item last"><span class="menu"><span class="menu-title">Video</span></span></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="menu-item">
							<a href="gioi-thieu/lia-n-ha" class="menu-item"><span class="menu"><span class="menu-title">Liên hệ</span></span></a>
						</li>
						<li class="menu-item last">
							<a href="#" class="menu-item last"><span class="menu"><span class="menu-title">Quyên góp</span></span></a>
						</li>
				</ul>
			</div>

			<button type="button" class="hidden-desktop btn btn-primary vina-menu" data-toggle="offcanvas" style="" id="changeMainLayout"><i class="fa fa-align-justify"></i></button>

		</div>
	</div>
</div>

